body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
    background-color: #000;
}
header{
    background-color: #000;
    text-align: center;
    color: #fff;
    font-family: "Comic Sans MS";
}

.content{
    margin: 10px 3%;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    background-color: #555;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}
a:hover{
    background-color: #ccc;
}
main{
    width:100%;
    display: block;
    border-bottom:1px solid #ccc;
    position:relative;
    background-color: #fff;
}
.box{
    display: flex;
    margin: 10px 2%;  
    padding-top: 15px;
}

p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    display:flex; 
    width:20px;
    margin: 0 3%;
    margin-left: 850px;
    text-align: center;
}
li{
    list-style-type:none;
    background-color: #fff;
    display:table-cell; 
    cursor: pointer;
    margin-left: 10px;

}
textarea{
  margin: 10px 3%;
  width: 95%;
  font-size:80%;
  border: solid;
  border-radius: 8px;
  background-color:rgb(241, 239, 239);
}
#time{
    margin:0 3%;
    width: 30%;
    font-size:80%; 
    border: solid;
    border-radius: 8px;
    background-color: #fff;
}
#key{
    margin:0 3%;
    width: 45%;
    font-size:80%;
    background-color: #fff;
    border: solid;
    border-radius: 8px;
}
table{
    margin: 20px 3%;
    border:1px solid #fff;
    width:96%;
    
}
th{
    width:30%;
    font-size:20px;
    font-weight: normal;
    background-color:#fff;
    border-bottom: 1px solid #000;
}
td{
    font-size:20px;
    font-weight: bold;
    background-color:#fff;
    border-bottom: 1px solid #fff;
}
