body {
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
    background-color: #000;

}
header{
    background-color: #000;
    text-align: center;
    color: #fff;
    font-family: "Comic Sans MS";
}
.content{
    margin: 10px 3%;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    background-color: #555;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}
a:hover{
    background-color: #ccc;
}
#date{
    width: 10%;
    margin-left: 30px;
    border: solid 2px;
}
input {
    font-size: 100%;
}
#text{
    border: solid;
    border-radius: 8px;
    width: 1400px;
}

#check{
    border: solid;
    border-radius: 100px;
}
fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 15px;
    background-color: #fff;
    border: solid;
    border-radius: 20px;
    width: 95%;
    line-height: 3px;
}
#addTodoItem{
    margin-left: 750px;
}